@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  word-wrap: break-word !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  @apply w-full h-full bg-gray-50 text-gray-900 dark:text-gray-50 dark:bg-gray-900 w-full;
}

.main {
  @apply w-[85%] mx-auto;
}
